body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.myPortfolioDiv{
    text-align: center;
    margin-top: -9%;
    margin-bottom: 5%;
    width: 70%;
    height: 50px;
    margin: 20px auto;
    border: 3px solid teal;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.myPortfolioDiv h1{
    margin-top: 1%;
}
.myPortfolioDiv:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008080;
    width: 100%;
    height: 60px;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
img{
    height: 400px;
    width: 400px;
    margin: 15% auto 0 auto;
    display: block;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 150px;
}

.card {
    width: 70%;
    margin: 20px auto;
    border: 3px solid teal;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    display: grid;
}

#messagebox {
    margin: 15px;
    padding:10px;
    width: 200px;
    height: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}